@charset "utf-8";

/* タイトルアイコン */
div#logo img {
  position: absolute;
  top: 0;
  width: 65%;
  z-index: -1;
}

/* ローディング部 */
.loading{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.loading.active{
  opacity: 1;
  visibility: visible;
}
.spinner {
  width: 300px;
  height: 300px;
  margin: 200px auto;
  background-color: #FFCC33;
  border-radius: 100%;
  animation: loading_animation 1.0s infinite ease-in-out;
}
@keyframes loading_animation{
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

/* .loading{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
}
.loading.active{
  opacity: 1;
  visibility: visible;
}
.applelogo{
  position: relative;
  color: #7a7157;
  font-size: 10em;
  text-shadow: 0 0 50px #7a7157,
                0 0 100px #FFCC33,
                0 0 150px #FFCC33,
                0 0 200px #FFCC33,
                0 0 250px #FFCC33;
  animation: loading_animation 3s linear infinite;
}
@keyframes loading_animation{
  0% {
    filter: hue-rotate(0deg);
  } 100% {
    filter: hue-rotate(360deg);
  }
}  */



/* コンテンツ部 */
body{
  background-image: url("img/background.png");
  background-repeat: repeat;
  font-family: 'Helvetica Neue', "Arial", sans-serif;
  line-height: 1.8em;
}

div#main{
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

div#person{
  width: 100%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.hachiman{
  width: 50%;
  height: auto;
  margin: auto;
  opacity: 0;
}
.hachiman.show{
  opacity: 1;
  animation-name: show;
  animation-duration: 1s;
}

.yui{
  width: 50%;
  height: auto;
  position: absolute;
  top: 50px;
  right: 45%;
  opacity: 0;
}
.yui.show{
  opacity: 1;
  animation-name: show;
  animation-duration: 1s;
}

.yukino{
  width: 40%;
  height: auto;
  position: absolute;
  top: 15em;
  left: 45%;
  opacity: 0;
}
.yukino.show{
  opacity: 1;
  animation-name: show;
  animation-duration: 1s;
}

@keyframes show {
	0% {
		opacity:0;
	}
	100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		opacity:1;
	}
}

/* 説明 */
.description {
  text-align: center;
  padding: 20px 0 20px 0;
}

/* アイコン部 */
.sns ul{
  text-align: center;
}

.sns ul li{
  display: inline-block;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.sns ul li a figure img {
  transition: .3s ease-in-out;
}
.sns ul li a figure:hover img {
  opacity: .8;
  transform:rotate(-3deg) scale(1.1);
}

/* Youtube */
div#youtube {
  text-align: center;
  padding: 20px 0 20px 0;
  margin: 20px 0 20px 0;
}

/* 概要 */
div#contents {
  width: 600px;
  display: inline-block;
  padding: 20px 0 20px 0;
  border-top: 2px solid #F2F2F2;
  margin: 20px 0 20px 0;
  text-align: center;
}

div#contents div.posts {
  width: 600px;
  display: inline-block;
  border-bottom: 2px solid #F2F2F2;
  margin-top: 20px;
  margin-bottom: 20px;
}

div#contents img {
  width: 80%;
  height: auto;
  margin-bottom: 10px;
}

div#contents p {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px;
}

/* フッター */
footer {
  background-color: white;
  text-align: center;
  padding: 20px;
}

footer p#pagetop{
  padding: 10px;
}

