@charset "utf-8";

/* ローディング部 */
.loading{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;

  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.loading.active{
  opacity: 1;
  visibility: visible;
}
.spinner {
  width: 300px;
  height: 300px;
  margin: 200px auto;
  background-color: #FFCC33;
  border-radius: 100%;
  animation: loading_animation 1.0s infinite ease-in-out;
}
@keyframes loading_animation{
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

/* コンテンツ部 */
body{
  background-image: url("img/title.png"), url("img/background.png");
  background-repeat: no-repeat, repeat;
}

div#main{
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

div#person{
  width: 100%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.hachiman{
  width: 50%;
  height: auto;
  margin: auto;
  opacity: 0;
}
.hachiman.show{
  opacity: 1;
  animation-name: show;
  animation-duration: 1s;
}

.yui{
  width: 50%;
  height: auto;
  position: absolute;
  top: 50px;
  right: 45%;
  opacity: 0;
}
.yui.show{
  opacity: 1;
  animation-name: show;
  animation-duration: 1s;
}

.yukino{
  width: 40%;
  height: auto;
  position: absolute;
  top: 15em;
  left: 45%;
  opacity: 0;
}
.yukino.show{
  opacity: 1;
  animation-name: show;
  animation-duration: 1s;
}

@keyframes show {
	0% {
		opacity:0;
	}
	100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
		opacity:1;
	}
}

/* アイコン部 */
div#sns ul{
  text-align: center;
}

div#sns ul li{
  display: inline-block;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

/* Youtube */
div#youtube {
  margin-top: 80px;
  text-align: center;
}

/* 概要 */
div#description {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

div#description img {
  width: 700px;
  height: 300px;
}

div#description p {
  display: inline-block;
  padding: 20px 20px 20px 60px;
  width: 700px;
  height: auto;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
